@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --section-accent: 17, 24, 39;
  --section-background: #FBFBFD;
}

.ql-editor {
  min-height: 200px !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.25s ease;
}

html, body {
  max-width: 100vw;
}

.text-capitalize {
  text-transform: capitalize;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

input[type="submit"] {
  cursor: pointer;
}